*{
    margin: 0;
    padding: 0;
    box-sizing: border;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    padding: 50px;
    /* height: 100vh; */
}

#container{
    position: relative;
    width: 50%;
    margin: 0 auto;
   text-align: center;
}

#title{
    margin-bottom: 10px;
}

#counter{
    margin-bottom: 20px;
}

.button{
    width: 100px;
    height: 40px;
    margin-bottom: 10px;
    border-radius: 3px;
    border: none;
    outline: none;
    cursor: pointer;
    font-weight: bold;
}

#add-btn{
    background: forestgreen;
    color: white;
}

#substract-btn{
    background: firebrick;
    color: white;
}

#reset-btn{
    background: rgb(63, 63, 63);
    color: white;
}

#btn-reset-container{
    
    text-align: center;
}

#add-btn:hover{
    background: rgb(54, 143, 54);
}

#substract-btn:hover{
    background: rgb(180, 49, 49);
}

#reset-btn:hover{
    background:  rgb(77, 77, 77);
}